

.header {
    background: linear-gradient(135deg, #3a3838 0%, #222 100%);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;             
    border-bottom: 3px solid #ff8c00; 
  }
  

  .header-logo {
   
    max-height: 70px; 
    overflow: hidden;  
  }
  
  .header-logo img {
    height: 100%;
    width: auto;
    display: block;
  }
  
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  
  .navbar {
    display: flex;
    gap: 1.5rem;    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

 
  

  .navbar li a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;                 
    padding: 0.8rem 1rem;         
    background-color: #00000022;  
    border: 1px solid #ff8c00
  }


  @media (max-width: 768px) {
    .header {
      flex-wrap: wrap; 
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-bottom: 3px solid #ff8c00;
    }
  
    .header-logo {
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .header-logo img {
      height: auto;
    }
  
    .nav-menu {
      width: 100%;
      justify-content: center;
    }
  
    .navbar {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      padding: 0;
    }
  
    .navbar li a {
      width: auto;
      padding: 0.6rem 1rem;
    }
  }


