#contact {
    color: #004d40;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #f0faff 0%, #ffffff 100%);
    
}

#contact h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 7rem; 
}

.contact-box {
    background-color: #FFFFFF; 
    color: #004d40;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden;

}

.contact-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    background-color: #dbd2d2;
}

.contact-box .icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FFD700; 
}

.contact-box h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #004d40;
}

.contact-box p {
    font-size: 1.1rem;
    color: #333333; 
    margin-bottom: 0.5rem;
}

.pogrubic {
    font-weight: bold;
}


.map-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.map-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    #contact {
        padding: 2rem 1rem;
    }

    #contact h1 {
        font-size: 2.5rem;
    }

    .contactInfo {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-box {
        max-width: none;
        width: 100%;
    }
}